aiohttp==3.9.1
aiosignal==1.3.1
amulet-core==1.9.21
amulet-leveldb==1.0.0b5
amulet-nbt==2.1.3
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
beartype==0.18.5
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.7
cloup==3.0.5
colorama==0.4.6
Cython==3.0.9
decorator==5.1.1
dnspython==2.6.1
docker-pycreds==0.4.0
einops==0.7.0
ema-pytorch==0.4.8
email_validator==2.1.1
fastapi==0.110.0
filelock==3.9.0
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.43
glcontext==2.5.0
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.20.3
idna==3.6
immutable-views==0.6.1
iniconfig==2.0.0
isosurfaces==0.1.2
itsdangerous==2.1.2
Jinja2==3.1.2
lightning==2.1.3
lightning-utilities==0.10.1
manim==0.18.1
ManimPango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mcschematic==11.4.2
mdurl==0.1.2
minecraft-resource-pack==1.4.1
moderngl==5.10.0
moderngl-window==2.4.6
more-itertools==10.2.0
mpi4py==3.1.5
mpmath==1.3.0
multidict==6.0.4
multipledispatch==1.0.0
mutf8==1.0.6
NBT==1.5.1
nbtlib==2.0.4
nbtschematic==0.2.1
networkx==3.0
numpy==1.26.4
orjson==3.9.15
outcome==1.3.0.post0
packaging==24.0
pillow==10.2.0
platformdirs==3.11.0
pluggy==1.4.0
portalocker==2.8.2
protobuf==4.25.3
psutil==5.9.8
pycairo==1.26.0
pycparser==2.21
pydantic==2.5.3
pydantic-extra-types==2.6.0
pydantic-settings==2.2.1
pydantic_core==2.14.6
pydub==0.25.1
pyglet==2.0.15
Pygments==2.18.0
PyMCTranslate==1.2.22
pyngrok==7.1.6
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
pyrr==0.10.3
PySocks==1.7.1
pytest==8.1.1
python-dotenv==1.0.1
python-multipart==0.0.9
pytorch-lightning==2.1.3
pywin32==306
PyYAML==6.0.1
regex==2023.12.25
requests==2.28.1
rich==13.7.1
safetensors==0.4.2
scipy==1.13.0
screeninfo==0.8.1
selenium==4.17.2
sentry-sdk==2.4.0
setproctitle==1.3.3
six==1.16.0
skia-pathops==0.8.0.post1
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
srt==3.5.3
starlette==0.36.3
svgelements==1.9.6
sympy==1.12
tokenizers==0.15.2
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchmetrics==1.3.0.post0
torchvision==0.16.2+cu121
tqdm==4.66.1
transformers==4.39.1
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
ujson==5.9.0
urllib3==1.26.13
uvicorn==0.29.0
wandb==0.17.0
watchdog==4.0.0
watchfiles==0.21.0
websockets==12.0
wsproto==1.2.0
wxPython==4.2.1
yarl==1.9.4
